<!DOCTYPE html>
<head>
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
        }

        #button {
            min-height: 100%; 
        }
    </style>
</head>
<body>
    <div id="button">*눌러줘요~*</div>

    <script type="text/javascript">
        var touchstart_time;

        var el = document.getElementById("button");
        el.addEventListener("touchstart", handleStart, false);
        el.addEventListener("touchend", handleEnd, false);
        // el.addEventListener("touchcancel", handleCancel, false);
        // el.addEventListener("touchmove", handleMove, false);

        el.addEventListener("mousedown", handleStart, false);
        el.addEventListener("mouseup", handleEnd, false)

        function handleStart(){
            touchstart_time = new Date();
        }
        function handleEnd(){
            var now = new Date();
            var press_time = now - touchstart_time;
            
            var httpRequest;
            httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = () => {
                if (httpRequest.readyState == XMLHttpRequest.DONE){
                    if (httpRequest.status == 200) {
                        var result = httpRequest.response;
                        if (result == "success") {
                            el.innerHTML = (press_time).toString() + "ms<br>" + el.innerHTML;
                            // alert("성공");
                        } else {
                            // alert("실패");
                        }
                    }
                }
            }
            var postObj = {
                username: "{{username}}",
                hold_time: press_time
            };
            let post = JSON.stringify(postObj)
            httpRequest.open('POST', '/click', true);
            httpRequest.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
            httpRequest.send(post);
        }
        

        el.addEventListener('click', ()=>{
            var inputName = {{username}};

        })
    </script>
</body>
