<!DOCTYPE html>
<head>
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
        }

        #button {
            min-height: 100%; 
        }
    </style>
</head>
<body>
    <div id="button">*눌러줘요~*</div>

    <script type="text/javascript">
        var touchstart_time;

        var el = document.getElementById("button");
        el.addEventListener("touchstart", handleStart, false);
        el.addEventListener("touchend", handleEnd, false);
        // el.addEventListener("touchcancel", handleCancel, false);
        // el.addEventListener("touchmove", handleMove, false);

        el.addEventListener("mousedown", handleStart, false);
        el.addEventListener("mouseup", handleEnd, false)

        function handleStart(){
            touchstart_time = new Date();
        }
        function handleEnd(){
            var now = new Date();
            // alert(now-touchstart_time)
            el.innerHTML += (now-touchstart_time).toString() + "ms<br>";
        }
        

        el.addEventListener('click', ()=>{
            var inputName = username;
            var httpRequest;
            httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = () => {
                if (httpRequest.readyState == XMLHttpRequest.DONE){
                    if (httpRequest.status == 200) {
                        var result = httpRequest.response;
                        // do something
                    }
                }
            }
            var postObj = {
                username: inputName,
                hold_time: 10
            };
            let post = JSON.stringify(postObj)
            httpRequest.open('POST', '/click', true);
            httpRequest.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
            httpRequest.send(post);
        })
    </script>
</body>
